<mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="Friends...">
      <mat-chip
        *ngFor="let contact of contactsSelected"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(contact)">
        {{contact.name}}::{{contact.id}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="New Friend..."
        #contactInput
        [formControl]="contactCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let contact of contactsFiltered | async" [value]="contact">
        {{contact.name}}::{{contact.id}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>