svg {
    width: 400px;
    height: 400px;
    border: 1px solid green;
  
    line {
      stroke-width: 2;
      stroke: lightgray;
    }
  
    circle {
      fill:  #88f;
      stroke: #444;
  
      &.selected {
        fill: #f88;
      }
    }
  }
  